/* @font-family: "Rubik", sans-serif;
@font-size: 18px;

@very_dark_gray: hsl(0, 0%, 17%);
@dark_gray: hsl(0, 0%, 59%); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

::placeholder {
  color: hsl(0, 0%, 59%);
  opacity: 1;
}

:-ms-input-placeholder {
  color: hsl(0, 0%, 59%);
}

::-ms-input-placeholder {
  color: hsl(0, 0%, 59%);
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

h2 {
  padding: 30px 0 27px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 1.95rem;
}

header {
  height: 280px;
  background-image: url(./../images/pattern-bg.png);
  background-position: center;
  background-size: cover;
}

.input-group {
  display: flex;
  max-width: 556px;
  margin: 0 auto;
}

.input-ip {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  display: block;
  width: 100%;
  padding: 17px 24px;
  font-size: 1.1rem;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 15px 0 0 15px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.arrow-button {
  display: flex;
  width: 67px;
  align-items: center;
  align-content: center;
  margin-left: -1px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: black;
  border: 1px solid black;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: rgb(41, 41, 41);
}

.arrow-image {
  margin: 0 auto;
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  max-width: 1110px;
  margin: 50px auto 0;
  padding: 35px 0;
  border-radius: 20px;
  background-color: white;
}

.item {
  width: 25%;
  padding: 0 30px;
  border-right: 1px solid hsl(0, 0%, 59%);
}

.item:last-child {
  border-right: 0;
}

.info-title {
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  color: hsl(0, 0%, 59%);
  font-size: 0.85rem;
}

.data {
  color: hsl(0, 0%, 17%);
  font-size: 1.6rem;
  font-weight: 500;
}

#map {
  position: absolute !important;
  z-index: 1;
  top: 280px;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1200px) {
  .item {
    width: 50%;
    margin-bottom: 30px;
  }
  .item:nth-child(2) {
    border-right: 0;
  }
  .item:nth-child(3), .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1130px) {
  .user-info {
    margin: 50px 24px 0;
  }
}

@media screen and (max-width: 690px) {
  .input-group {
    margin: 0 24px;
  }
}

@media screen and (max-width: 560px) {
  h2 {
    padding: 26px 0 30px;
    font-size: 1.6rem;
  }
  .arrow-button {
    width: 74px;
  }
  .user-info {
    text-align: center;
    margin: 25px 24px 0;
    padding: 23px 0;
  }
  .item {
    width: 100%;
    border-right: 0;
    margin-bottom: 20px;
  }
  .info-title {
    font-size: 0.65rem;
  }
  .data {
    font-size: 1.2rem;
  }
  #location, #postalcode {
    display: inline-flex;
  }
}